.boxlinks {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.links {
    width: 33%;
}
a {
    color: rgb(0, 0, 0);
    font-family: impact;
    font-size: 25px;
}
a:hover.sobre {
    border:2px black solid;
    font-family: impact;
    font-size: 25px;
    padding: 5px;
  }
.caja_videojuegos {
    width: 80%;
    height: 700px;
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}
.imagenes_videojuegos {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.videojuegos {
    width: 30%;
    height: 40%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    padding: 5px;
}

.caja_grande{
    display: block;
    width: 90%;
    height:800px;
    margin: auto;
}
.centrado{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.titulos{
    display:flex ;
    width: 100%;
    height:10% ;
}
.titulo_trucos {
    width:20% ;
    height:95% ;
}
.titulo_noticias {
    width:80% ;
    height:95% ;
}
.trucos_noticias{
    display: flex;
    width:100% ;
    height:90% ;
}
.trucos{
    width: 20%;
    border: 3px solid #73AD21;
    padding: 10px;
    height: 85%;
}
.noticias {
    display: flex;
    width: 80%;
    height: 90%;
    padding: 5px;
    justify-content:space-around;
    flex-wrap:wrap ;
}
.bloque{
    width: 35%;   
    height: 45%;  
    padding: 5px;   
    border: 1px solid rgb(0, 0, 0);      
    background-color: rgb(161, 161, 152);   
}
.button {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    padding: 5px 16px;
    margin: 4px 2px;
}
.box_ranking{
    width:90% ;
    display: block;
    margin: auto;
}
.ranking_titulo{
    padding-left: 20px;
    width: 100%;
}
.users{
    width: 100%;
    display: flex;
}
.img_rankings{
    width: 15%;
    text-align: center;
    margin:auto;
}
footer {
    background-color: aquamarine;
    width: 100%;
    height: 200;
    overflow: hidden;
}
.fotter_info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.redes{
    width: 65%;
    padding: 10px;
}
.direccion{
    width: 30%;
    text-align: right;
}
.links_redes{
    word-spacing: 30px;
    font-style: arial;
}
.copyright{
    text-align: center;
    font-size: 20px;
    font-style: comic;
}
.contorno_videojuegos {
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 40px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
    text-shadow: 0px 0px 9px #508AD3;
}
.contorno_trucos {
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 40px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
    text-shadow: 0px 0px 9px #1e9700;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.contorno_noticias {
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 40px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
    text-shadow: 0px 0px 9px #464946;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.contorno_ranking {
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 40px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

